.tabBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:10px 6px ;
    background: #fff;
    box-shadow: 1px 1px 12px -4px #000;
}
.tabBar li{
    flex: 1;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}