.wrapper{
    flex: 1;
    height: 0;
    width: 100%;
}
.wrapper ul{
    flex: 1;
    height: 0;
    width: 100%;
    overflow: auto;
}
.wrapper ul li{
    padding: 8px 12px;
    margin: 10px 4px 15px 4px;
}
.wrapper ul li div:nth-child(2){
    margin-top: 6px;
}
.wrapper ul li:nth-child(odd){
    background-color:#f3f3f3;
}
.wrapper ul li:nth-child(even){
    
}